@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    background-color: #f5f5f5;
}

.message {
    color: rgb(4, 1, 32);
    text-align: center;
    margin-top: 20vh;
}

header {
    width: 90%;
    margin: auto;
    text-align: center;
}

header p {
    color: red;
    font-size: 1.5rem;
    margin-bottom: -20px;
    opacity: 0;
    transition: .3s;

}  

header h1 {
    font-size: 7rem;
    opacity: .8;
    color: rgb(4, 1, 32);
    margin-top: 2rem;
}

header #user-input, header #btn {
    font-family: inherit;
    font-size: 1.3rem;
    border-radius: .2rem;
    height: 3rem;
    border-color: rgb(45, 48, 51);
    margin-top: 2rem;
}

header #user-input {
    padding-inline: 1.5rem;
    min-width: 300px;
    max-width: 500px;
    border: none;
    outline: none;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.253);
    transition: 50ms;
}

#user-input::placeholder {
    opacity: .4;
}

header #btn {
    min-width: 130px;
    max-width: 300px;  
    background-color: orangered;
    color: whitesmoke;
    transition: 1s;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    box-shadow: 0 2px 10px orangered;
    transition: .7s;
}

header #btn:hover {
    background-color: rgb(7, 2, 54);
    box-shadow: 0 2px 10px rgb(4, 1, 32);
}



main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 30vw));
    align-items: flex-start;
    justify-content: center;
    gap: 1em;
    padding: 2em 0;
    margin-top: 2rem;
}



main div {
    background-color: rgb(4, 1, 32);
    width: 30vw;
    min-height: 100px;
    border-radius: .5rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

main div p {
    font-size: 1.5rem;
    text-align: center;
    color: lightcyan;
    line-height: 1.3rem;
    padding: 1rem;
}

main div ul {
    list-style: none;
    margin: 10px auto 20px;
    padding: 0 1rem;
}


ul li {
    position: relative;
    height: fit-content;
    display: flex;
    align-items: center;
    color: rgb(4, 1, 32);
    font-size: 1.7rem;
    background-color: rgb(255, 255, 255);
    margin: 10px 0;
    border-radius: .2rem;
    padding: .5rem 2.8rem .5rem .5rem;
    cursor: pointer;
    border: none;
    word-break: break-all;
}

i {
    color: rgb(255, 165, 184);
    position: absolute;
    right: 1rem;
    transition: .2s ease-in-out;
}

i:hover {
    color: rgb(255, 0, 55);
}

@media screen and (max-width: 1100px) {
    main  {
        grid-template-columns: 1fr;  
    } 
    main .column {
        width: 80vw;
        justify-self: center;
    }
}

@media screen and (max-width: 680px) {
    header h1 {
        font-size: 5rem;
    }
    
}

@media screen and (max-width: 580px) {
    .user-input-erro {
        font-size: 1.2rem;
    }
    .tarefa-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header #user-input {
        width: 60vw;
        font-size: 1rem;
        padding-left: .5rem;
    }
    header #btn {
        width: 40vw;
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .list-items li {
        width: 20vw;
        font-size: .8rem;
    }    
}